<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center" id="paginaprincipal">
    <ion-col size="12" class="ion-text-center full-height">

      <!-- header -->
      <app-header></app-header>

      <!-- titulo -->
      <ion-row class="ion-align-items-center" id="tituloid">
        <ion-col></ion-col>
        <ion-col size="3" size-lg="3" id="divider"></ion-col>
        <ion-col size="4" size-lg="3" id="titulo">Receitas Sem Glúten</ion-col>
        <ion-col size="3" size-lg="3" id="divider"></ion-col>
        <ion-col></ion-col>
      </ion-row>

      <!-- meio do site -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="10" class="ion-align-items-center ion-text-center">

          <!-- imagens receita -->
          <ion-row>
            <!-- Coluna da esquerda -->
            <ion-col size="2" size-lg="1">
              <ion-row>
                <ion-col>
                  anuncio cis
                </ion-col>
              </ion-row>
            </ion-col>

            <!-- Coluna do meio -->
            <ion-col size="8" size-lg="10" class="ion-align-items-center ion-justify-content-center">
              <ion-row>
                <ng-container *ngFor="let receita of receitas">
                  <!-- Verifica se a receita é sem açúcar -->
                  <ng-container *ngIf="receita.semGluten === true">
                    <ion-col size="12" size-md="6" size-lg="4">
                      <div class="imagemprincipal" (click)="setOpen(true, receita)"
                        [ngStyle]="{'background-image' : receita.src ? 'url(' + receita.src +')' : 'url('+ img_not_found +')'}">
                      </div>
                    </ion-col>
                  </ng-container>
                </ng-container>
              </ion-row>
            </ion-col>
            


            <!-- Coluna da direita -->
            <ion-col size="2" size-lg="1">
              <ion-row class="filtrar">
                <ion-col>
                  <ion-icon id="open-modal" size="large" shape="round" class="iconebotao"
                    name="filter-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


      <!-- NUMEROS PAGINA -->
      <ion-row class="align-items-center ion-text-center ion-justify-content-center" id="rownumerospagina">
        <ion-col size-lg="8" size-md="10" size="12"
          class="align-items-center ion-text-center ion-justify-content-center" id="paginanumeros">

          <ion-col size-lg="3" size-md="2" size="0" id="tracoesquerdo"></ion-col>

          <ion-col id="colunaiconeesquerda" size-md="1" size="2">
            <ion-icon name="chevron-back-outline" id="iconeesquerda"></ion-icon>
          </ion-col>

          <ion-col size-lg="4" size-md="5" size="8">
            <ion-row>
              <ion-col id="colunanumeros">
                <h5 id="numeros">1</h5>
              </ion-col>
              <ion-col id="colunanumeros">
                <h5 id="numeros">2</h5>
              </ion-col>
              <ion-col id="colunanumeros">
                <h5 id="numeros">3</h5>
              </ion-col>
              <ion-col id="colunanumeros">
                <h5 id="numeros">4</h5>
              </ion-col>
              <ion-col id="colunanumeros">
                <h5 id="numeros">5</h5>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col id="colunaiconedireita" size-md="1" size="2">
            <ion-icon name="chevron-forward-outline" id="iconedireita"></ion-icon>
          </ion-col>

          <ion-col size-lg="3" size-md="2" size="0" id="tracodireito"></ion-col>

        </ion-col>
      </ion-row>

      <!-- FOOTER -->
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center" id="footer">

        <ion-col size="12" size-lg="4" id="colunasfooter">
          <ion-title id="redesfooter">Redes Sociais</ion-title>
          <ion-icon name="logo-tiktok" id="iconesredes"></ion-icon>
          <ion-icon name="logo-instagram" id="iconesredes"></ion-icon>
        </ion-col>

        <ion-col size="12" size-lg="4" id="colunasfooter">
          <ion-title id="titulofooter">Polivalente</ion-title>
          <img src="../../assets/polivalente.png" width="70px" height="70px" id="logofooter">
        </ion-col>

        <ion-col size="12" size-lg="4" id="colunasfooter">
          <ion-title id="titulofooter">Envie-nos sua receita!</ion-title>
          <ion-icon name="mail-outline" id="iconesredes"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>


<!-- Modal Filtrar -->
<ion-modal trigger="open-modal">
  <ion-content class="ion-padding">
    <ng-template>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col id="caixamodalreceita" size="10">

          <ion-row class="ion-text-center">
            <ion-col>
              <h1 style="color:black; font-weight:300; background-color:rgb(204, 170, 237);" id="titulotipo">Tipo</h1>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="10" id="caixamodalreceitaopcoes">
              <ion-checkbox labelPlacement="end"><h4>Entrada</h4></ion-checkbox>
              <br />
              <ion-checkbox labelPlacement="end"><h4>Prato principal</h4></ion-checkbox>
              <br />
              <ion-checkbox labelPlacement="end"><h4>Petisco</h4></ion-checkbox>
              <br />
              <ion-checkbox labelPlacement="end"><h4>Sobremesa</h4></ion-checkbox>
              <br />

              <ion-row class="ion-text-center ion-justify-content-center ion-align-items-center">
                <ion-col size="6">
                  <ion-icon class="icontipo" (click)="confirm()" name="checkbox"></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <ion-icon class="icontipo" (click)="cancel()" name="close-circle"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

    </ng-template>
  </ion-content>
</ion-modal>

<!-- modal abrir receitas -->
<ion-modal id="modalreceita" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-item class="fundomodal" button="true" detail="false" (click)="setOpen(false, receita_selecionada)"
      lines="none">


      <ion-col id="modalreceitaestrutura" size="12">
        <ion-row>
          <ion-col class="colunaimagem" size="12" size-lg="3">
            <div class="imagemodalabrirreceitas"
              [ngStyle]="{'background-image': receita_selecionada.src ? 'url(' + receita_selecionada.src + ')' : 'url(' + img_not_found + ')'}">
            </div>
          </ion-col>

          <ion-col size="12" size-lg="5.5" id="colunaesquerdamodalreceita">
            <ng-container *ngIf="receita_selecionada.nome || receita_selecionada.descricao">

              <ion-row>
                <ion-col size="12">
                  <h1 id="nomereceitamodal" *ngIf="receita_selecionada.nome">{{ receita_selecionada.nome }}</h1>
                </ion-col>
                <ion-col size="12">
                  <p id="descricaoreceitamodal" *ngIf="receita_selecionada.descricao">{{receita_selecionada.descricao}}
                  </p>
                </ion-col>
              </ion-row>

            </ng-container>
            <ng-container *ngIf="!receita_selecionada.nome && !receita_selecionada.descricao">
              <p style="color:rgb(112, 44, 202); font-weight: bold;">
                Sem informações sobre a receita</p>
            </ng-container>
          </ion-col>

          <ion-col size-lg="3.5" size="12" class="ion-align-items-center ion-justify-content-center ion-text-center"
            id="colunadireitamodalreceita">
            <div id="variacoesreceitas">

              <ion-col size-lg="3" size="12">

                <ion-col>
                  <h6 class="hstipos">Tipo</h6>
                </ion-col>

                <ion-col size="12">
                  <ion-row>
                    <ion-col class="colunatipos" size="6" [ngClass]="{'tipos-cinza': receita_selecionada.entrada}">
                      <h6 class="tipos"
                        [ngStyle]="{'background-color': !receita_selecionada.entrada ? 'gray' : 'cinza', 'color': receita_selecionada.entrada ? 'rgb(231, 221, 237)' : 'branco'}">
                        Entrada</h6>
                    </ion-col>

                    <ion-col class="colunatipos" size="6" [ngClass]="{'tipos-cinza': receita_selecionada.pratoP}">
                      <h6 class="tipos"
                        [ngStyle]="{'background-color': !receita_selecionada.pratoP ? 'gray' : 'cinza', 'color': receita_selecionada.pratoP ? 'rgb(231, 221, 237)' : 'branco'}">
                        Prato Principal</h6>
                    </ion-col>

                    <ion-col class="colunatipos" size="6" [ngClass]="{'tipos-cinza': receita_selecionada.petisco}">
                      <h6 class="tipos"
                        [ngStyle]="{'background-color': !receita_selecionada.petisco ? 'gray' : 'cinza', 'color': receita_selecionada.petisco ? 'rgb(231, 221, 237)' : 'branco'}">
                        Petisco</h6>
                    </ion-col>

                    <ion-col class="colunatipos" size="6" [ngClass]="{'tipos-cinza': receita_selecionada.sobremesa}">
                      <h6 class="tipos"
                        [ngStyle]="{'background-color': !receita_selecionada.sobremesa ? 'gray' : 'cinza', 'color': receita_selecionada.sobremesa ? 'rgb(231, 221, 237)' : 'branco'}">
                        Sobremesa</h6>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-col>

              <ion-row id="linhavariacoes">
                <ion-col size-lg="6" size="3" [ngClass]="{'variacao-cinza': !receita_selecionada.semAcucar}">
                  <img class="variacoes" src="../../assets/açucar.png">
                </ion-col>
                <ion-col size-lg="6" size="3" [ngClass]="{'variacao-cinza': !receita_selecionada.semGluten}">
                  <img class="variacoes" src="../../assets/gluten.png">
                </ion-col>
                <ion-col size-lg="6" size="3" [ngClass]="{'variacao-cinza': !receita_selecionada.semLactose}">
                  <img class="variacoes" src="../../assets/lactose.png">
                </ion-col>
                <ion-col size-lg="6" size="3" [ngClass]="{'variacao-cinza': !receita_selecionada.lowCarb}">
                  <img class="variacoes" src="../../assets/carboidrato.png">
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3">
                  <ion-icon id="setinha" routerLink="/receita" name="arrow-forward-outline"></ion-icon>
                </ion-col>
                <ion-col size="2">
                  <ion-icon id="setinha" (click)="fecharModal()" name="close-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>
      </ion-col>



    </ion-item>
  </ng-template>
</ion-modal>