*{
  outline: 1px dotted rgb(246, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  margin:0;
  padding:0;
  border:0;
  overflow: hidden; //esconde barra de rolagem (scroll)
  box-shadow: none;
}

#banner{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,209,247,1) 20%, rgba(189,136,253,1) 66%);
  --width: 100%;
  --height: 100%;
}

.polivalentetitulo{
  padding: 10px;
  color: #bcb8d7;
  font-weight: bold;
  background-color: #473BA3;
}

.container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width:40vw;
  height:50vh;
  float: initial;
  margin: auto;
}

#caixa{
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  --background: #EFE4F6;
  --color: #473BA3;
  --placeholder-color: #473BA3;
  --icon-color: #473BA3;
  --clear-button-color: #473BA3;
  border-radius: 30px;
  --box-shadow: none;
  width:80%;
  text-decoration: none;
  border: 1px solid #473BA3;
 
}

.colunacadastro{
 margin-top: 12px;
 
 
 @media (max-width:1024px){
  margin-top: 25px;
 }
 
}

#titulo{
  color:#473BA3;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 10px;
}

#titulo:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#japossui{
  margin-top: 15px;
}

#buttonlogin{
  justify-content: center;
  --background: #5b4ec2;
  --border-radius: 120px;
  font-weight: bold;
  box-shadow: none;
  transition: 0.7s;
  margin-top: -60px;
  margin-bottom: 20px;
}

ion-button{
  justify-content: center;
  --background: #473BA3;
  --border-radius: 120px;
  font-weight: bold;
  box-shadow: none;
  transition: 0.7s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;;
}

ion-button:hover {
  --moz-transform: scale(1.2);
  --webkit-transition: all 0.2s;
  --transform: scale(1.1);
  transition: all 0.2s;
  width:10vw;
  text-align: start;
  border-radius: 120px;
  justify-content: space-between;

  @media(max-width:1024px){
      --moz-transform: scale(1.0);
      --webkit-transition: all 0.2s;
      --transform: scale(1.0);
      transition: all 0.2s;
      width:30vw;
      text-align: none;
      border-radius: 120px;
  }


}


.colunaprairlogin{
  margin-top: -30px;
}


#logo{
  align-items: flex-start;
  transition: 0.5s;
  width: 280px;
  height:280px;
  margin: 10%;
  margin-top:15vh;
}

#logo:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

p{
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: black;
}